#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.still{
  width: 70%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 2%;
}

.gif{
  height: 200px;
  margin-top: 2%;
}

.search-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-btn{
  width: 80%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input[type="text"] {
  width: 40%;
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 2px;
  outline: none;
}

.suggestions {
  /* position: absolute; */
  margin-top: 2px;
  width: 40%;
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 4px;
  list-style-type: none;
}
.prompt{
  font-size: 20px;
  font-weight: 500;
  color: dimgray;
}
.prompt>a:hover{
  color: white;
  cursor: pointer;
}

.movie-container{
  margin-top: 2%;
}

.still-container{
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .still {
    width: 90%;
  }

  .search-btn {
    width: 90%;
  }

  input[type="text"] {
    width: 70%;
  }

  .suggestions {
    width: 70%;
  }

  .still-container {
    margin-left: 10%;
  }
}

@media (max-width: 610px) {

  input[type="text"] {
    width: 60%;
    padding: 4px 7px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
    outline: none;
  }
  

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  .suggestions {
    width: 60%;
    font-size: 12px;
  }

  .prompt {
    font-size: 18px;
  }

  h1 {
    font-size: 2em;
    line-height: 1.1;
  }
  
}